<ons-page>
    <ons-page id="Detail">
        <div class="left">
            <ons-back-button>back</ons-back-button>
        </div>

        <div class="center">Player</div>
        </ons-toolbar>
        <div class="player">
            <img class="photop" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2Fpp1.jpg?alt=media&token=ba0d0f29-b13c-4120-b619-845eec4155f3" alt="">
            <div class="hhh">
                <h1>
                    Name: Suttipong Wisedsa<br> AKA: LnwZa007x<br> Team: MiTH<br>

                </h1>
            </div>
            <img class="photop" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2Fpp2.jpg?alt=media&token=edd69f68-2636-496c-86aa-6d74ca2c67d1" alt="">
            <div class="hhh">
                <h1>
                    Name: Sinchai<br> AKA: Toltao1504<br> Team: MiTH<br>

                </h1>
            </div>
            <img class="photop" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2Fpp3.jpg?alt=media&token=f7393a23-c8b4-4274-a140-d26a8267f333" alt="">
            <div class="hhh">
                <h1>
                    Name: Peeraphat<br> AKA: Peeker<br> Team: MiTH<br>

                </h1>
            </div>

        </div>

    </ons-page>
</ons-page>