<ons-page>
    <ons-page id="Favorite">

        <ons-page>

            <ons-toolbar>
                <div class="center">
                    <ons-segment id="segment" tabbar-id="tabbar" style="width: 350px">
                        <button>Schedule</button>
                        <button>Team</button>

                    </ons-segment>
                </div>
            </ons-toolbar>

            <ons-tabbar id="tabbar">
                <ons-tab page="page1.html" active></ons-tab>
                <ons-tab page="page2.html"></ons-tab>



            </ons-tabbar>
        </ons-page>

        <template id="page1.html">
          <ons-page>
            <div class="photo2">
              <img class="p2" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2FT1.png?alt=media&token=82e5fb61-615c-4263-9833-aafd9220d53d" style="width: 375px; height: 375px;" alt="">
              <div class="textt">
                 No have Tounament
              </div>
              
            </div>
            
          </ons-page>
        </template>




        <template id="page2.html">
      <ons-page id="page2">
        <div class="team"  id="team1">
          <ons-row>
            <ons-col><img class="photo98" onclick="getdata()" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2Fp2.png?alt=media&token=a2499684-f206-4fd8-950e-ad11900202d3" alt=""></ons-col>
            <ons-col>
              <h1  class="ttext">MiTH</h1>
            </ons-col>           
          </ons-row>
        </div>

        <div class="team" id="team2" >
          <ons-row>
            <ons-col><img class="photo99" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2Fp4.png?alt=media&token=451d7bc1-f489-4374-acd4-1ce347426109" alt=""></ons-col>
            <ons-col>
              <h1 class="ttext">Evos</h1>
            </ons-col>
          </ons-row>
        </div>
        <div class="team">
          <ons-row>
            <ons-col><img class="photo99" src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2Fp5.jpg?alt=media&token=d2ec3f34-6f10-42fa-b2de-b0e4ce99aa10" alt="" style="border-radius: 50%;" ></ons-col>
            <ons-col>
              <h1  class="ttext">Asus</h1>
            </ons-col>
          </ons-row>
        </div>
      </ons-page>
    </template>
        <!-- <img src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2FT1.png?alt=media&token=82e5fb61-615c-4263-9833-aafd9220d53d" width="375" height="375">
        <div class="T"></div><br><br>
        <center>
            <h1><b>NO HAVE TOURNAMENT</B></h1>
        </center>
        </div> -->
    </ons-page>
</ons-page>