<ons-page>
    <ons-page id="Favorite">
      
      <div class="toolbar">
        <div class="toolbar__center">
          <div class="segment" style="width:200px;margin:7px 50px;">
            <div class="segment__item">
              <input type="radio" class="segment__input" name="navi-segment-a" checked="">
              <div class="segment__button">One</div>
            </div>
      
            <div class="segment__item">
              <input type="radio" class="segment__input" name="navi-segment-a">
              <div class="segment__button">Two</div>
            </div>
          </div>
        </div>
      </div>
    
      <img src="https://firebasestorage.googleapis.com/v0/b/movietest-affbf.appspot.com/o/valorant%2FT1.png?alt=media&token=f30d7668-e745-4625-907d-9daa07d150b1" width="375" height="375">
      <div class="T"></div><br><br>
      <center><h1><b>NO HAVE TOURNAMENT</B></h1></center>
      </div>
    </ons-page>
    </ons-page>