<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <link rel="stylesheet" href="/css/player.css">
</head>

<body>
    <ons-page id="helloworld-page">
        <ons-toolbar>
            <div class="center">Player</div>
        </ons-toolbar>
        <div class="player">
            <img class="photop" src="/photo/pp1.jpg" alt="">
            <div class="hhh">
                <h1>
                    Name: Suttipong Wisedsa<br>
                    AKA: LnwZa007x<br>
                    Team: MiTH<br>

                </h1>
            </div>
            <img class="photop" src="/photo/pp2.jpg" alt="">
            <div class="hhh">
                <h1>
                    Name: Sinchai<br>
                    AKA: Toltao1504<br>
                    Team: MiTH<br>

                </h1>
            </div>
            <img class="photop" src="/photo/pp3.jpg" alt="">
            <div class="hhh">
                <h1>
                    Name: Peeraphat<br>
                    AKA: Peeker<br>
                    Team: MiTH<br>

                </h1>
            </div>
            
        </div>
    
    
    
    
    
    
    
    
    
    
        </ons-page>  

</body>

</html>