<ons-page id="Profile">


    <div class="profile">
        <B></B>



    </div>
    <div class="setting">
        <div class="icon2">
            <ons-icon icon="md-book
            " active-icon="md-book" size="40px" style="color: rgb(245, 134, 153)">
            </ons-icon>
            <div>
                <B>กระทู้ของฉัน</B>
            </div>
        </div>

        <div class="icon2">
            <ons-icon icon="md-favorite" active-icon="md-favorite" size="40px" style="color: red">
            </ons-icon>
            <div>
                <B>กำลังติดตาม</B>
            </div>
        </div>

        <div class="icon2">
            <ons-icon icon="md-notifications" active-icon="md-notifications" size="40px" style="color: blue">
            </ons-icon>
            <div>
                <B>การแจ้งเตือน</B>
            </div>
        </div>

        <div class="icon2">
            <ons-icon icon="md-star" active-icon="md-star" size="40px" style="color: orange">
            </ons-icon>
            <div>
                <B>รายการโปรด</B>
            </div>
        </div>

    </div>
    <div class="setting" style="height: 150px;">
        <div>
            <B style="margin-left: 4px;"> Comming soon~~</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-money" active-icon="md-money" size="30px" style="color: orange">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>PREMIUM MEMBER</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-card" active-icon="md-card" size="30px" style="color: green">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>DONATION</B>
        </div>
    </div>

    <div class="setting">
        <div class="icon1">
            <ons-icon icon="md-settings" active-icon="md-settings" size="30px" style="color: blue">
            </ons-icon>
        </div>
        <div class="media__content">
            <B>SETTING</B>
        </div>
    </div>

    <div class="setting" +="btn btn-primary" onclick="signOut()" id="signOut">
        <div class="icon1">
            <ons-icon icon="md-sign-in
        " active-icon="md-sign-in
        " size="30px" style="color: red">
            </ons-icon>
        </div>

        <div class="media__content">
            <B>Sign out</B>
        </div>
    </div>



</ons-page>